{% extends 'advertisements/navbar.html' %}

{% block body %}


<div>
<h1 class="index-h2" style="padding-top: 12%">Latest Advertisements</h1>
</div>

<div class="row">

    
    <div class="column left" style="height: 100%">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="padding: 0px">
                    <div class="card custom-box-shadow" style="width: 18rem; padding: 15%; border-radius: 8px; border: none"><br>
                        <h5>Filter Results</h5><br>

                          <br>
                          <form method="get">
            
                            {{adFilter.form.title}}<br><br>

                            <a style="font-size:13px; font-weight: 500;">{{adFilter.form.make.label}} :</a><br>
                            {{adFilter.form.make}}<br><br>

                            <a style="font-size:13px; font-weight: 500;"> {{adFilter.form.model.label}}: </a><br>
                            {{adFilter.form.model}}<br><br>

                            
                            <a style="font-size:13px; font-weight: 500;">{{adFilter.form.transmission.label}}: </a><br>
                            {{adFilter.form.transmission}}<br><br>

                            <a style="font-size:13px; font-weight: 500;">{{adFilter.form.year_of_manufacture.label}}: </a><br>
                            {{adFilter.form.year_of_manufacture}}<br><br>

                            <a style="font-size:13px; font-weight: 500;">{{adFilter.form.location.label}}: </a><br>
                            {{adFilter.form.location}}<br><br><br>

                            {{adFilter.form.minimum_price}}<br><br><br>

                            {{adFilter.form.maximum_price}}<br><br><br>
            
                        <button class="card-btn"  style="width: 100px; padding:5px; text-align: center; border: none" type="submit">Filter →</button>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="column right">
        <div class="container">
            <div class="row">
                
    
                {% comment %} <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                    <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                        {% load static %}
                        <img class="card-img-top" style="border-radius: 4%;" src="{% static 'advertisements/civic.jpeg' %}" alt="Logo">
                        
                        <div class="card-body">
                          <h5 class="card-title">Honda Civic 2020</h5>
                          <div class="card-text" style="margin-bottom: 15%;">
                              <table style="width: 100%;">
                                  <tbody>
                                      <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                      <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                  </tbody>
                              </table>
                            </div>
                          <a href="{% url 'details' %}" class="card-btn">More Details →</a>
                        </div>
                      </div>
                </div> {% endcomment %}
            
                    {% for advertisement in advertisements %}
                        <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                            <div class="card custom-box-shadow" style="width: 18rem; padding: 2%; border-radius: 4%; border: none">
                                {% load static %}
                                <img class="card-img-top" style="border-radius: 4%;" src="{{advertisement.post_image.url}}" alt="Logo">
                                
                                <div class="card-body">
                                  <h5 class="card-title">{{advertisement.title}}</h5>
                                  <div class="card-text" style="margin-bottom: 15%;">
                                      <table style="width: 100%;">
                                          <tbody>
                                              <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ {{advertisement.market_value}}</a></td></tr>
                                              <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ {{advertisement.selling_price}}</a></td></tr>
                                          </tbody>
                                      </table>
                                    </div>
                                  <a href="{% url 'details' advertisement.id %}" class="card-btn">More Details →</a>
                                </div>
                              </div>
                        </div>
                    {% endfor %}

                
    
            
            </div>
    
        </div>


    </div>

 

</div>

{% endblock %}