{% extends 'advertisements/navbar.html' %}

{% block body %}


<div class="row">
    <div class="column" style="width: 65%; padding-top: 12%;">
        {% load static %}
        <img class="" style="width: 90%; padding-left: 5%" src="{{advertisement.post_image.url}}" alt="Logo">
    </div>
    
    <div class="column" style="width: 35%; padding: 0px; padding-top: 12%;"> 
        <h3>{{advertisement.title}}</h3><br>
        <h5>Market Value</h5>
        <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px; font-weight: 800; font-size: 22px"> GH¢ {{advertisement.market_value}} </a> 
        <br><br>
        <h5>Selling Price</h5>
        <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px; font-weight: 800; font-size: 22px"> GH¢ {{advertisement.selling_price}} </a> <br><br>

        <h5>Retailer Details</h5>

        {% load static %}
        <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/user.png' %}" alt="user"> &nbsp; Kwame Nkansah
        <br><br>
        <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px; font-weight: 800; font-size: 15px"> &#128222; 022444245 </a>
        &nbsp;
        {% comment %} &#128222; 022444245 <br><br> {% endcomment %}
        <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px; font-weight: 800; font-size: 15px"> &#128172; Chat with Seller </a> <br><br>

        {% comment %} &#128172; Chat with Seller {% endcomment %}

        <a href="#" class="m-photos-btn" data-toggle="modal" data-target="#largeModal">Click to view more photos</a>



    
    </div>

    
</div>


<!-- modal -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">

                 <!--Carousel Wrapper-->
                 <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                    {% for p in photos %}
                    <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
                    {% endfor %}
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                    {% for p in photos %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                        <img class="d-block w-100" src="{{p.images.url}}"
                        alt="First slide">
                    </div>
                    {% endfor %}
                    </div>
                    <!--/First slide-->
                    <!--/.Slides-->
                    <!--Controls-->

                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                     <!--/.Controls-->
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<h3 style="padding-left: 3%; padding-top: 8%">Car Details</h3><br><br>
<div class="container">
    <div class="row">

        <div class="col-md-2" style="text-align: center; font-weight: 800; font-size: 22px;">
            {% load static %}
            <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/body-type.png' %}" alt="body-type"><br>
            <a>{{advertisement.body_type|title}}</a>
        </div>

        <div class="col-md-2" style="text-align: center; font-weight: 800; font-size: 22px;">
            {% load static %}
            <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/engine.png' %}" alt="engine"><br>
            <a>{{advertisement.engine_capacity}}</a>
        </div>

        
        <div class="col-md-2" style="text-align: center; font-weight: 800; font-size: 22px;">
            {% load static %}
            <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/transmission.png' %}" alt="transmission"><br>
            {% if advertisement.transmission == "a" %}
            <a>Automatic</a>
            {% else %}
            <a>Manual</a>
            {% endif %}
        </div>

        <div class="col-md-2" style="text-align: center; font-weight: 800; font-size: 22px;">
            {% load static %}
            <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/fuel.png' %}" alt="fuel"><br>
            {% if advertisement.fuel_type == "p" %}
            <a>Petrol</a>
            {% else %}
            <a>Diesel</a>
            {% endif %}
        </div>
        <div class="col-md-2" style="text-align: center; font-weight: 800; font-size: 22px;">
            {% load static %}
            <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/license-plate.png' %}" alt="plate"><br>
            {% if advertisement.car_registered == "y" %}
            <a>Registered</a>
            {% else %}
            <a>Not Registered</a>
            {% endif %}
        </div>
        <div class="col-md-2" style="text-align: center; font-weight: 800; font-size: 22px;">
            {% load static %}
            <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/odometer.png' %}" alt="mileage"><br>
            <a>{{advertisement.mileage_km|title}} km</a>
        </div>
    </div>
</div>

<h3 style="padding-left: 3%; padding-top: 8%">Description</h3><br><br>
<div style="width: 60%; padding-left: 3%; line-height: 2"> 
    {{advertisement.description}}
</div>

<br>
<div class="divider"></div>

<h3 style="padding-left: 3%; padding-top: 8%">Comments...</h3><br><br>
<div style="width: 60%; padding-left: 3%; line-height: 2">
    {% for comment in comments%}
    <strong>{{comment.author.first_name}} {{comment.author.last_name}} - {{comment.date_added}}</strong><br>
    {{comment.body}}
    <br><br>
    {% endfor %}
</div>
<br><br>



<div style="width: 60%; padding-left: 3%; line-height: 2">
    <form action="" method="POST">
        {% csrf_token %}
        <input type="textarea" name="comment" id="comment" required>
        <input type="submit" value="Post Comment">
    </form>    
</div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
  {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% endcomment %}
{% endblock %}