{% extends 'advertisements/navbar.html' %}

{% block body %}


<div>
<h1 class="index-h2" style="padding-top: 12%">Latest Advertisements</h1>
</div>

<div class="row">

    
    <div class="column left" style="height: 100%">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="padding: 0px">
                    <div class="card" style="width: 18rem; padding: 15%; border-radius: 8px;"><br>
                        <h5>Filter Results</h5><br>

                        <select id="location" name="location" class="custom-input-rect">
                            <option value="">Location</option>
                            <option value="greater-accra">Greater Accra</option>
                            <option value="ashanti">Ashanti Region</option>
                            <option value="eastern">Eastern Region</option>
                            <option value="north">Northern Region</option>
                          </select>

                          <br>

                          <select id="sort" name="sort" class="custom-input-rect">
                            <option value="">Sort by:</option>
                            <option value="low-high">Price: Low to High</option>
                            <option value="high-low">Price: High to Low</option>
                            <option value="latest-oldest">Time: Latest to Oldest</option>
                            <option value="oldest-latest">Time: Oldest to Latest</option>
                          </select>
                          <br>

                          <a href="#" class="card-btn" style="width: 100px; padding:5px; text-align: center">Filter →</a>

                          <br><br><br>
                          <h5>New Search</h5><br>
                          <input type="text" id="details" name="details" class="custom-input-rect" placeholder="Input Details  &#128269;"><br>
                          <a href="#" class="card-btn" style="width: 100px; padding:5px; text-align: center">Search &#32; &#128269;</a>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="column right">
        <div class="container">
            <div class="row">
                
    
                <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                    <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                        {% load static %}
                        <img class="card-img-top" style="border-radius: 4%;" src="{% static 'advertisements/civic.jpeg' %}" alt="Logo">
                        
                        <div class="card-body">
                          <h5 class="card-title">Honda Civic 2020</h5>
                          <div class="card-text" style="margin-bottom: 15%;">
                              <table style="width: 100%;">
                                  <tbody>
                                      <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                      <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                  </tbody>
                              </table>
                            </div>
                          <a href="{% url 'details' %}" class="card-btn">More Details →</a>
                        </div>
                      </div>
                </div>
    
                <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                            <img class="card-img-top" style="border-radius: 4%;" src="{% static 'advertisements/corolla.png' %}" alt="Logo">
                            <div class="card-body">
                              <h5 class="card-title">Toyota Corolla 2019</h5>
                              <div class="card-text" style="margin-bottom: 15%;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                        <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                    </tbody>
                                </table>
                              </div>
                              <a href="#" class="card-btn">More Details →</a>
                            </div>
                          </div>
                    </div>
                </div>
                
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                            <img class="card-img-top" style="border-radius: 4%" src="{% static 'advertisements/corolla.png' %}" alt="Logo">
                            <div class="card-body">
                              <h5 class="card-title">Toyota Corolla 2019</h5>
                              <div class="card-text" style="margin-bottom: 15%;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                        <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                    </tbody>
                                </table>
                              </div>
                              <a href="#" class="card-btn">More Details →</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                        <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                            <img class="card-img-top" style="border-radius: 4%" src="{% static 'advertisements/corolla.png' %}" alt="Logo">
                            <div class="card-body">
                              <h5 class="card-title">Toyota Corolla 2019</h5>
                              <div class="card-text" style="margin-bottom: 15%;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                        <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                    </tbody>
                                </table>
                              </div>
                              <a href="#" class="card-btn">More Details →</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                        <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                            <img class="card-img-top" style="border-radius: 4%" src="{% static 'advertisements/corolla.png' %}" alt="Logo">
                            <div class="card-body">
                              <h5 class="card-title">Toyota Corolla 2019</h5>
                              <div class="card-text" style="margin-bottom: 15%;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                        <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                    </tbody>
                                </table>
                              </div>
                              <a href="#" class="card-btn">More Details →</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                        <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                            <img class="card-img-top" style="border-radius: 4%" src="{% static 'advertisements/corolla.png' %}" alt="Logo">
                            <div class="card-body">
                              <h5 class="card-title">Toyota Corolla 2019</h5>
                              <div class="card-text" style="margin-bottom: 15%;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                        <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                    </tbody>
                                </table>
                              </div>
                              <a href="#" class="card-btn">More Details →</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                        <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                            <img class="card-img-top" style="border-radius: 4%" src="{% static 'advertisements/corolla.png' %}" alt="Logo">
                            <div class="card-body">
                              <h5 class="card-title">Toyota Corolla 2019</h5>
                              <div class="card-text" style="margin-bottom: 15%;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                        <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                    </tbody>
                                </table>
                              </div>
                              <a href="#" class="card-btn">More Details →</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                        <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                            <img class="card-img-top" style="border-radius: 4%" src="{% static 'advertisements/corolla.png' %}" alt="Logo">
                            <div class="card-body">
                              <h5 class="card-title">Toyota Corolla 2019</h5>
                              <div class="card-text" style="margin-bottom: 15%;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr> <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                        <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                    </tbody>
                                </table>
                              </div>
                              <a href="#" class="card-btn">More Details →</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                        <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                            <img class="card-img-top" style="border-radius: 4%" src="{% static 'advertisements/corolla.png' %}" alt="Logo">
                            <div class="card-body">
                              <h5 class="card-title">Toyota Corolla 2019</h5>
                              <div class="card-text" style="margin-bottom: 15%;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr> <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                        <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                    </tbody>
                                </table>
                              </div>
                              <a href="#" class="card-btn">More Details →</a>
                            </div>
                          </div>
                    </div>
                
    
            
            </div>
    
        </div>


    </div>

 

</div>

{% endblock %}