{% extends 'advertisements/navbar.html' %}

{% block body %}


<div class="row">
    <div class="column" style="width: 65%; padding-top: 12%;">
        {% load static %}
        <img class="" style="width: 90%; padding-left: 5%" src="{% static 'advertisements/civic.jpeg' %}" alt="Logo">
    </div>
    
    <div class="column" style="width: 35%; padding: 0px; padding-top: 12%;"> 
        <h3>Honda Civic 2020</h3><br>
        <h5>Market Value</h5>
        <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px; font-weight: 800; font-size: 22px"> GH¢ 110,000 </a> 
        <br><br>
        <h5>Selling Price</h5>
        <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px; font-weight: 800; font-size: 22px"> GH¢ 115,000 </a> <br><br>

        <h5>Retailer Details</h5>

        {% load static %}
        <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/user.png' %}" alt="user"> &nbsp; Kwame Nkansah
        <br><br>
        <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px; font-weight: 800; font-size: 15px"> &#128222; 022444245 </a>
        &nbsp;
        {% comment %} &#128222; 022444245 <br><br> {% endcomment %}
        <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px; font-weight: 800; font-size: 15px"> &#128172; Chat with Seller </a> <br>

        {% comment %} &#128172; Chat with Seller {% endcomment %}


    
    </div>

    
</div>

<h3 style="padding-left: 3%; padding-top: 8%">Car Details</h3><br><br>
<div class="container">
    <div class="row">

        <div class="col-md-2" style="text-align: center; font-weight: 800; font-size: 22px;">
            {% load static %}
            <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/body-type.png' %}" alt="body-type"><br>
            <a>Sedan</a>
        </div>

        <div class="col-md-2" style="text-align: center; font-weight: 800; font-size: 22px;">
            {% load static %}
            <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/engine.png' %}" alt="engine"><br>
            <a>1.5</a>
        </div>

        
        <div class="col-md-2" style="text-align: center; font-weight: 800; font-size: 22px;">
            {% load static %}
            <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/transmission.png' %}" alt="transmission"><br>
            <a>Automatic</a>
        </div>

        <div class="col-md-2" style="text-align: center; font-weight: 800; font-size: 22px;">
            {% load static %}
            <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/fuel.png' %}" alt="fuel"><br>
            <a>Petrol</a>
        </div>
        <div class="col-md-2" style="text-align: center; font-weight: 800; font-size: 22px;">
            {% load static %}
            <img class="" style="width: 80px; padding-left: 5%" src="{% static 'advertisements/license-plate.png' %}" alt="plate"><br>
            <a>Not Registered</a>
        </div>
    </div>
</div>

<h3 style="padding-left: 3%; padding-top: 8%">Description</h3><br><br>
<div style="width: 60%; padding-left: 3%; line-height: 2"> 
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium 
    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint 
    occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt 
    mollitia animi, id est laborum et dolorum fuga.
</div>


{% endblock %}