{% extends 'advertisements/navbar.html' %}

{% block body %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}

    .custom-input-rect-form{
        background: #E5ECF7;
        width: 100%;
        padding: 12px;
        border: none;
        color: #505780;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 5%;
        display: in-line;
      }
    
      .custom-input-rect-form::placeholder{
        color: #505780; 
      }

      .submit-btn{
        border-radius: 18px;
        background-color: #0D67B5;
        color: #FFFFFF;
        padding: 8px; 
        border: none;
        font-size: 90%;
        margin: 0 auto;
        display:block;
     }
</style>

<br>
<div style="padding-top: 10%">
	<h2 style="text-align: center">Edit Profile Details</h2><br>
<div style="padding: 5%; width: 40%; border: solid 0px #96A1AA; margin: 0 auto; border-radius: 8px">

	<div>
		
	</div>

		<div class="container">
        <div class="row">
            <div class="col-md-3">
            {% load static %}
            
            <img class="card-img-top" style="border-radius: 50%; width: 90%" src="{{request.user.userdetails.profile_picture.url}} " alt="user"> 
            
            </div>

            <div class="col-md-9">
                <h3>{{request.user.first_name}} {{request.user.last_name}}</h3>            
                {% comment %} &#128172; Chat with Seller {% endcomment %}
                <div>Joined: {{request.user.date_joined}}</div>
            </div>
           

        </div>
    </div>
</div>


<div style="width: 50%; margin: 0 auto; padding-top: 5%; padding: 5%; border-radius: 10px; background-color: #f4f5f9">
    

            <div style="display: block; margin: auto 0">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div>
                    {{form.first_name.label}}<br>
                    {{form.first_name}}
                    </div>
                    
                    <div>
                    {{form.last_name.label}}<br>
                    {{form.last_name}}
                    </div>
    
                    <div>
                    {{form.email.label}}<br>
                    {{form.email}}
                    </div>
                    
                    <div>
                    {{form.username.label}}<br>
                    {{form.username}}
                    </div>
                    
                    <div>
                    {{form.phone_number.label}}<br>         
                    {{form.phone_number}}
                    </div>
                    
                    <div>
                    {{form.profile_picture.label}}<br>      
                    {{form.profile_picture}}
                    </div><br><br>
                    
                
            
                    <input class="submit-btn" type="submit" value="Update Information">
                </form>
            </div>

        
</div>

	


<h2 class="index-h2">All ads by {{request.user.first_name}} {{request.user.last_name}}</h2>
<div style="padding: 2%; width: 100%; margin: 0 auto; padding-left: 8%">
    

    <div class="container">
        <div class="row">

        {% for advertisement in advertisements %}
            <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                    {% load static %}
                    <img class="card-img-top" style="border-radius: 4%;" src="{{advertisement.post_image.url}}" alt="Logo">
                    
                    <div class="card-body">
                      <h5 class="card-title">{{advertisement.title}}</h5>
                      <div class="card-text" style="margin-bottom: 15%;">
                          <table style="width: 100%;">
                              <tbody>
                                  <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ {{advertisement.market_value}}</a></td></tr>
                                  <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ {{advertisement.selling_price}}</a></td></tr>
                              </tbody>
                          </table>
                        </div>
                      <a href="{% url 'details' advertisement.id %}" class="card-btn">More Details →</a>
                    </div>
                  </div>
            </div>
        {% endfor %}

           
        </div>
    </div>
</div>
</div>
{% endblock %}