{% extends 'advertisements/navbar.html' %}

{% block body %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row" style="padding-top: 10%">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href=""> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Account Details</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.userdetails.profile_picture.url}}" ><br>
			Number of ads: {{number_of_ads}}
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
		
			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>
		</div>
	</div>
</div>



<h2 class="index-h2">All ads by {{request.user.first_name}} {{request.user.last_name}}</h2>
<div style="padding: 2%; width: 100%; margin: 0 auto; padding-left: 8%">
    

    <div class="container">
        <div class="row">

        {% for advertisement in advertisements %}
            <div class="col-md-3" style="margin-right: 20px; margin-bottom: 20px">
                <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                    {% load static %}
                    <img class="card-img-top" style="border-radius: 4%;" src="{{advertisement.post_image.url}}" alt="Logo">
                    
                    <div class="card-body">
                      <h5 class="card-title">{{advertisement.title}}</h5>
                      <div class="card-text" style="margin-bottom: 15%;">
                          <table style="width: 100%;">
                              <tbody>
                                  <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ {{advertisement.market_value}}</a></td></tr>
                                  <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ {{advertisement.selling_price}}</a></td></tr>
                              </tbody>
                          </table>
                        </div>
                      <a href="{% url 'details' advertisement.id %}" class="card-btn">More Details →</a>
                    </div>
                  </div>
            </div>
        {% endfor %}

           
        </div>
    </div>
</div>

{% endblock %}