<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet"> -->
    {% load static %}
    <link href="{% static 'advertisements/css/bootstrap.min.css' %}" rel="stylesheet"> 
    {% load static %} 
    <script src="{% static 'advertisements/js/bootstrap.min.js' %}"></script> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/css/style.css' %}" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/index.css' %}">


    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/fonts/icomoon/style.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/css/owl.carousel.min.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <title>AutoBarter GH</title>
</head>


<body>

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div> <!-- .site-mobile-menu -->
      
    
      <!-- NAVBAR -->
      <header class="site-navbar mt-3">
        {% load static %}
        <a href="{% url 'home' %}"><div class="site-logo col-md-4" style="padding: 0px"><img style="width:10%; height: 10%; border-radius: 0 20% 0 20%;" src="{% static 'advertisements/AutoBarterGh-logo.jpeg' %}" alt="Logo"></div></a>
        <div class="col-md-8">
        <nav class="mx-auto site-navigation" style="width:900px; margin:0 auto; color: #ffffff">
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">

            <li><a style ="font-family: Montserrat; color: #ffffff" href="{% url 'advertisements' %}">Latest Ads</a></li>
            <li><a style ="font-family: Montserrat; color: #ffffff" href="{% url 'value_car' %}">Value Your Car</a></li>
            <li><a style ="font-family: Montserrat; color: #ffffff" href="{% url 'new_ad' %}"> Post an Ad</a></li>

            {% load auth_extras %}
            {% if request.user.is_authenticated and request.user|has_group:"vendor" %}
              <li><a style ="font-family: Montserrat; color: #ffffff" href="{% url 'dashboard' %}">Dashboard</a></li>
            {% endif %}

            
            {% if request.user.is_authenticated %}
            <li><a style ="font-family: Montserrat;  color: #ffffff" href="{% url 'all_chats' %}">Chats</a></li>
            <li><a style ="font-family: Montserrat; color: #ffffff" href="{% url 'logout' %}">Log out</a></a></li>
              {% else %}
                <li><a style ="font-family: Montserrat; color: #ffffff" href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </nav>
    </div>
      </header>
<style>

.site-navbar .site-navigation .site-menu > li > a {
    color: rgba(255, 255, 255, 0.5);
}
</style>

{% block body %}
    <div class='top-section'><br>
      

      <div class="top-section-h1"><h1 style="font-size: 80px; text-align: center; font-weight: 900; letter-spacing: 7px; font-style: bold;">AutoBarter GH</h1></div>
      <div class="top-section-div">
        <h5>Search For a Car</h5>
        <div style="border-bottom: solid 3px #0D67B5; width: 40%;"></div> <br><br>
        
           
            
           <form method="get" action="{% url 'advertisements' %}">
            <select id="location" name="location" class="custom-input-rect" style="width: 30%;padding: 7px;">
              <option value="">Location</option>
              <option value="GA">Greater Accra</option>
              <option value="AR">Ashanti Region</option>
              <option value="EA">Eastern Region</option>
              <option value="NR">Northern Region</option>
            </select>
            &#32;

       
            <select id="make" name="make" class="custom-input-rect" style="width: 30%; padding: 7px;">
              <option value="">Make</option>
              <option value="hyundai">Hyundai</option>
              <option value="toyota">Toyota</option>
              <option value="honda">Honda</option>
            </select>
            &#32;
          
            <select id="model" name="model" class="custom-input-rect" style="width: 30%; padding: 7px;">
              <option value="">Model</option>
              <option value="elantra">Elantra</option>
              <option value="accent">Accent</option>
              <option value="civic">Civic</option>
              <option value="accord">Accord</option>
            </select>
          
          
    
      
        
        <br> <br>


        <input type="submit" class="card-btn" style="width: 100px; padding:8px; text-align: center; border: none" value="Search &#32; &#128269;">

          </form>
      </div>

    </div>

    <div style="background-color: #F4F5F6">
    <div>
    <h1 class="index-h2">Browse New Car Deals</h1>
    </div>

    <div style="padding-left: 15%;">
    <div class="container">
        <div class="row">
            
          {% for advertisement in advertisements|slice:"3" %}
            <div class="col-md-3">
                <div class="card custom-box-shadow" style="width: 18rem; padding: 2%; border-radius: 4%; border: none">
                    {% load static %}
                    <img class="card-img-top" style="border-radius: 4%;" src='{{advertisement.post_image.url}}' alt="Logo">
                    
                    <div class="card-body">
                      <h5 class="card-title">{{advertisement.title}}</h5>
                      <div class="card-text" style="margin-bottom: 15%;">
                          <table style="width: 100%;">
                              <tbody>
                                  <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ {{advertisement.market_value}}</a></td></tr>
                                  <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ {{advertisement.selling_price}}</a></td></tr>
                              </tbody>
                          </table>
                        </div>
                      <a href="{% url 'details' advertisement.id %}" class="card-btn">More Details →</a>
                    </div>
                  </div>
            </div>
          {% endfor %}        
        </div>

    </div>
    </div>

 <div style="margin: 0 auto; margin-top: 5%; width: 170px;">   <a style="color: black" href="{% url 'advertisements' %}" class="vm-btn">View More →</a></div>
 <div style="background-color: #f5f5f7" class="divider"></div>
  </div>
    
    <div style="background-color: #f5f5f7; height: 40%;">
    <h1 style="text-align: center; margin-bottom: 60px; font-weight: 600;">When buying a vehicle...</h1>
    <div style="margin: 0 auto; width: 1300px; padding-left: 0%;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div style="border: solid 1px #C0C0C0; padding: 10%; height: 400px;">
                    <img class="card-img-top" style="width: 50%; padding-bottom: 12%; margin:0 auto; display: block" src="{% static 'advertisements/new-car.png' %}" alt="Logo"><br>
                    <a style="text-align:center">Compare the market value of the vehicle to the retailer's 
                        selling price to make sure you are getting a fair deal.</a>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div style="border: solid 1px #C0C0C0; padding: 10%; height: 400px;">
                    <img class="card-img-top" style="width: 50%; padding-bottom: 12%; margin:0 auto; display: block" src="{% static 'advertisements/car.png' %}" alt="Logo"><br>
                    <a style="text-align:center">Make sure to inspect the vehicle before making 
                        the final move to purchase</a>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div style="border: solid 1px #C0C0C0; padding: 10%; height: 400px; ">
                    <img class="card-img-top" style="width: 50%; padding-bottom: 12%; margin:0 auto; display: block" src="{% static 'advertisements/new-car.png' %}" alt="Logo"><br>
                    <a style="text-align:center"> It is always advisable to meet in a public place to make transactions.
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
    
{% endblock %}