<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet"> -->
    {% load static %}
    <link href="{% static 'advertisements/css/bootstrap.min.css' %}" rel="stylesheet"> 
    {% load static %} 
    <script src="{% static 'advertisements/js/bootstrap.min.js' %}"></script> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/css/style.css' %}" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/index.css' %}">


    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/fonts/icomoon/style.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/css/owl.carousel.min.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
</head>


<body>

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div> <!-- .site-mobile-menu -->
      
    
      <!-- NAVBAR -->
      <header class="site-navbar mt-3">
        <div class="container-fluid">
          <div class="row align-items-center">
            {% load static %}
            <a href="{% url 'home' %}"><div class="site-logo col-md-6 "><img style="width:10%; height: 10%; border-radius: 0 20% 0 20%;" src="{% static 'advertisements/AutoBarterGh-logo.jpeg' %}" alt="Logo"></div></a>
            <div class="col-md-6">
            <nav class="mx-auto site-navigation">
              <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
    

                <li><a style ="font-family: Montserrat;" href="{% url 'advertisements' %}">Latest Ads</a></li>
                <li><a style ="font-family: Montserrat;" href="blog.html">Sell Your Car</a></li>
                <li><a style ="font-family: Montserrat;" href="contact.html">Value Your Car</a></li>
                <li><a style ="font-family: Montserrat;" href="post-job.html"><span class="mr-2">+</span> Post an Ad</a></li>
                <li><a style ="font-family: Montserrat;" href="login.html">Log In</a></li>
              </ul>
            </nav>
        </div>

          </div>
        </div>
      </header>
<style>

.site-navbar .site-navigation .site-menu > li > a {
    color: rgba(255, 255, 255, 0.5);
}

</style>

{% block body %}
    <div class='top-section'><br>
      

      <div class="top-section-h1"><h1 style="font-size: 80px; text-align: center; font-weight: 900; letter-spacing: 7px; font-style: bold;">AutoBarter GH</h1></div>
      <div class="top-section-div">
        <h5>Search For a Car</h5>
        <div style="border-bottom: solid 3px #0D67B5; width: 40%;"></div> <br><br>
        
           
            
           
            <select id="location" name="location" class="custom-input-rect" style="width: 30%;padding: 7px;">
              <option value="">Make</option>
              <option value="greater-accra">Greater Accra</option>
              <option value="ashanti">Ashanti Region</option>
              <option value="eastern">Eastern Region</option>
              <option value="north">Northern Region</option>
            </select>
            &#32;

       
    
          
            <select id="location" name="location" class="custom-input-rect" style="width: 30%; padding: 7px;">
              <option value="">Model</option>
              <option value="greater-accra">Greater Accra</option>
              <option value="ashanti">Ashanti Region</option>
              <option value="eastern">Eastern Region</option>
              <option value="north">Northern Region</option>
            </select>
          
            &#32;
    
          
            <select id="location" name="location" class="custom-input-rect" style="width: 30%; padding: 7px;">
              <option value="">Location</option>
              <option value="greater-accra">Greater Accra</option>
              <option value="ashanti">Ashanti Region</option>
              <option value="eastern">Eastern Region</option>
              <option value="north">Northern Region</option>
            </select>
          
        
        <br> <br>


        <a href="#" class="card-btn" style="width: 100px; padding:8px; text-align: center">Search &#32; &#128269;</a>
      </div>

    </div>


    <div>
    <h1 class="index-h2">Browse New Car Deals</h1>
    </div>

    <div style="padding-left: 15%;">
    <div class="container">
        <div class="row">
            

            <div class="col-md-3">
                <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                    {% load static %}
                    <img class="card-img-top" style="border-radius: 4%;" src="{% static 'advertisements/civic.jpeg' %}" alt="Logo">
                    
                    <div class="card-body">
                      <h5 class="card-title">Honda Civic 2020</h5>
                      <div class="card-text" style="margin-bottom: 15%;">
                          <table style="width: 100%;">
                              <tbody>
                                  <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                  <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                              </tbody>
                          </table>
                        </div>
                      <a href="#" class="card-btn">More Details →</a>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                        <img class="card-img-top" style="border-radius: 4%;" src="{% static 'advertisements/corolla.png' %}" alt="Logo">
                        <div class="card-body">
                          <h5 class="card-title">Toyota Corolla 2019</h5>
                          <div class="card-text" style="margin-bottom: 15%;">
                            <table style="width: 100%;">
                                <tbody>
                                    <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                    <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                </tbody>
                            </table>
                          </div>
                          <a href="#" class="card-btn">More Details →</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem; padding: 2%; border-radius: 4%;">
                        <img class="card-img-top" style="border-radius: 4%" src="{% static 'advertisements/corolla.png' %}" alt="Logo">
                        <div class="card-body">
                          <h5 class="card-title">Toyota Corolla 2019</h5>
                          <div class="card-text" style="margin-bottom: 15%;">
                            <table style="width: 100%;">
                                <tbody>
                                    <tr > <td style="height: 50px;">Market Value</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 180,000</a></td></tr>
                                    <tr> <td>Selling Price</td> <td style="text-align: right; font-weight: 900;"> <a style="background-color: #E4ECF7; color: #505780; padding: 0 7% 0 7%; border-radius: 10px;">GH¢ 190,000</a></td></tr>
                                </tbody>
                            </table>
                          </div>
                          <a href="#" class="card-btn">More Details →</a>
                        </div>
                      </div>
                </div>
            </div>

        
        </div>

    </div>
    </div>

 <div style="margin: 0 auto; margin-top: 5%; width: 170px;">   <a href="" class="vm-btn">View More →</a></div>
    <div class="divider"></div>

    <h1 style="text-align: center; margin-bottom: 60px;">When buying a vehicle...</h1>
    <div style="margin: 0 auto; width: 1300px; padding-left: 0%; height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div style="border: solid 1px #C0C0C0; padding: 10%; height: 350px;">
                    <img class="card-img-top" style="width: 50%; padding-bottom: 12%;" src="{% static 'advertisements/new-car.png' %}" alt="Logo"><br>
                    <p>Compare the market value of the vehicle to the retailer's 
                        selling price to make sure you are getting a fair deal.</p>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div style="border: solid 1px #C0C0C0; padding: 10%; height: 350px;">
                    <img class="card-img-top" style="width: 50%; padding-bottom: 12%;" src="{% static 'advertisements/car.png' %}" alt="Logo"><br>
                    <p>Make sure to inspect the vehicle before making 
                        the final move to purchase</p>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div style="border: solid 1px #C0C0C0; padding: 10%; height: 350px; ">
                    <img class="card-img-top" style="width: 50%; padding-bottom: 12%;" src="{% static 'advertisements/new-car.png' %}" alt="Logo"><br>
                    <p> It is always advisable to meet in a public place to make transactions.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    
{% endblock %}