<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet"> -->
    {% load static %}
    <link href="{% static 'advertisements/css/bootstrap.min.css' %}" rel="stylesheet"> 
    {% load static %} 
    <script src="{% static 'advertisements/js/bootstrap.min.js' %}"></script> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/css/style.css' %}" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/index.css' %}">


    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/fonts/icomoon/style.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements/css/owl.carousel.min.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
</head>


<body>

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div> <!-- .site-mobile-menu -->
      
    
      <!-- NAVBAR -->
      <header class="site-navbar mt-3">
        <div class="container-fluid" style="background: #red">
          <div class="row align-items-center">
            {% load static %}
            <a href="{% url 'home' %}"><div class="site-logo col-md-6 "><img style="width:10%; height: 10%; border-radius: 0 20% 0 20%;" src="{% static 'advertisements/AutoBarterGh-logo.jpeg' %}" alt="Logo"></div></a>
            <div class="col-md-6">
            <nav class="mx-auto site-navigation"  style="width:900px; margin:0 auto; color: #ffffff">
              <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
    

                <li><a style ="font-family: Montserrat;" href="{% url 'advertisements' %}">Latest Ads</a></li>
                <li><a style ="font-family: Montserrat;" href="{% url 'value_car' %}">Value Your Car</a></li>
                <li><a style ="font-family: Montserrat;" href="{% url 'new_ad' %}"><span class="mr-2">+</span> Post an Ad</a></li>
                {% load auth_extras %}
                {% if request.user.is_authenticated and request.user|has_group:"vendor" %}
                  <li><a style ="font-family: Montserrat;" href="{% url 'dashboard' %}"><span class="mr-2">+</span> Dashboard</a></li>
                {% endif %}
                
                

                {% if request.user.is_authenticated %}
                    <li><a style ="font-family: Montserrat;" href="{% url 'all_chats' %}">Chats</a></li>
                    <li><a style ="font-family: Montserrat;" href="{% url 'logout' %}">Log out</a></a></li>
                  {% else %}
                    <li><a style ="font-family: Montserrat;" href="{% url 'login' %}">Log In</a></li>
                {% endif %}
                
              </ul>
            </nav>
        </div>
            
  
          </div>
        </div>
      </header>
{% block body %}

{% endblock %}
</body>
{% comment %} <style>
  body{
    background-image: linear-gradient( 111.5deg,  rgba(228,247,255,1) 21.9%, rgba(255,216,194,1) 92.2% );
    
  }
</style> {% endcomment %}
</html>