@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body, html {
    font-family: Montserrat;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #0D67B5;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #FFFFFF;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
   
.left-text{
    color: #FFFFFF;
}

.auth-input{
  width: 100%;
  border: none;
  background-color: #E5ECF7;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 5%;
  margin-top: 3%;
  padding: 1%;
  padding-left: 3%;
  text-align: center;
}

.input-icons{
  padding: 10px;
  min-width: 40px;
}
.icon{
  padding: 6%;
  min-width: 40px;
  margin-bottom: 5%;
}
.input-icons i {
  position: absolute;
}

.auth-input-submit{
  width: 104%;
  border: none;
  background-color: #0D67B5;
  border-radius: 4px;
  height: 40px;
  text-align: center;
  color: #FFFFFF;
  font-family: Montserrat;
  margin-top: 3%;
}

input:focus {
  outline: none !important;
}