{% extends 'chat/navbar.html' %}

{% block body %}

  <head>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

    <style>
      .message{
        border-radius: 8px;
        padding: 20px;
        width: 55%;
      }
      .message-bubble{
        border-radius: 8px;
        padding: 2%;
      }

      .submit-btn{
        border-radius: 15px;
        background-color: #0D67B5;
        color: #FFFFFF;
        padding: 4px; 
        border: none;
        font-size: 90%;
        padding: 3px 20px 3px 20px
     }
    </style>
  </head>
  <body>
    
    <div style="padding-top:12%">
      <div style="width: 60%; margin: 0 auto; background-color: #f4f5f9; padding: 5%; border-radius: 8px;" class="custom-box-shadow">
        {% load auth_extras %}

        {% if request.user.is_authenticated and request.user|has_group:"vendor" %}
        <h2 style="text-align: left">Chat with {{chat.buyer.first_name|title}} {{chat.buyer.last_name|title}}</h2><br>
        {% endif %}

        {% if request.user.is_authenticated and request.user|has_group:"buyer" %}
        <h2 style="text-align: left">Chat with {{chat.vendor.first_name|title}} {{chat.vendor.last_name|title}}</h2><br>
        {% endif %}


        <div style="background-color: #eef0fa; height: 500px; overflow: auto;" id="display">    
        </div>
        <br>

        <div style ="clear: both" class="container">
          <div style="width: 80%; margin: 0 auto">
            <form id="post-form" method="POST">
                {% csrf_token %}
                <input type="hidden" name="chat_id" id="chat_id" value="{{chat_id}}"/>
                <input type="text" name="message" id="message" placeholder="Send a message..." style="width: 80%; border: none; border-radius: 20px; padding: 5px" />
                <input type="submit" value="&#10148;" class="submit-btn" >
            </form>
          </div>
        </div>
      </div>
    
    <script>
    $(document).ready(function(){
    
    setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "{% url 'getMessages' chat_id %}",
            success: function(response){
                $("#display").empty();
                for (var key in response.messages)
                {
                    const date = new Date(Date.parse(response.messages[key].date));
                    const formatted_date = date.toUTCString()
                    //var temp="<div class=''><b>"+response.messages[key].sender_name+"</b><p>"+response.messages[key].text+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>";
                    if( response.messages[key].sender_name === "{{request.user.first_name}} {{request.user.last_name}}"){
                      var temp="<div style='float: right;' class='message'><div style='color: white; background-color: #131417' class='message-bubble'>"+response.messages[key].text+"</div><span style='font-size: 10px'>"+ formatted_date +"</span></div>";
                    }else{
                      var temp="<div style='float: left;' class='message'><div  style='color: white; background-color: #000034' class='message-bubble'>"+response.messages[key].text+"</div><span style='font-size: 10px'>"+ formatted_date +"</span></div>";
                    }
                    $("#display").append(temp);
                }

            },
            error: function(response){
                //alert('An error occured')
            }
        });
    },1000);
    })
    </script>
    
    
    
  
  
    </div>
    
    
  </body>
    
    <script type="text/javascript">
      $(document).on('submit','#post-form',function(e){
        e.preventDefault();
    
        $.ajax({
          type:'POST',
          url:"{% url 'send' %}",
          data:{
              chat_id:$('#chat_id').val(),
              message:$('#message').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(data){
             //alert(data)
          }
        });
        document.getElementById('message').value = ''
      });
    </script>

    {% endblock %}

